.sideBarInfo {
    height: 100vh;
    width: 280px;

    &>div:nth-child(1) {
        padding: 17.5px;
        cursor: pointer;
        width: 100%;

        span {
            &:hover {
                color: var(--color-white);
                background-color: var(--font-color);
                border-radius: 8px;
            }

            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &>div:nth-child(2) {
        padding: 0 17.5px 17.5px 17.5px;
        height: calc(100% - 70px);
        overflow-y: auto;
        color: var(--font-color);

        &>.card {

            &>div {
                h1 {
                    font-size: 14px;
                    margin-bottom: 7px;
                    font-weight: 600;
                    line-height: 21px;
                }

                h2 {
                    font-size: 14px;
                    margin-bottom: 28px;
                    line-height: 21px;
                    font-weight: 500;
                }
            }

            &>ul {
                &>li {
                    border: solid 1px #e2e8f0;
                    display: flex;
                    padding: 14px;
                    cursor: pointer;
                    margin-bottom: 14px;
                    border-radius: 8px;

                    &:hover {
                        background-color: #e5e7eb;
                    }

                    &>span:nth-child(1) {
                        font-size: 14px;
                        margin-top: auto;
                        margin-bottom: auto;
                        color: var(--hover-color-bold);
                    }

                    &>span:last-child {
                        border-radius: 50%;
                        font-size: 10.5px;
                        min-width: 21px;
                        min-height: 21px;
                        font-weight: 600;
                        text-align: center;
                        line-height: 21px;
                        display: block;
                        background-color: #6366f1;
                        margin-top: auto;
                        margin-bottom: auto;
                        color: #fff;
                    }

                    &>div {
                        padding-left: 14px;
                        line-height: 21px;
                        font-size: 14px;

                        &>span {
                            font-weight: 600;
                        }
                    }
                }

            }
        }
    }
}