<p-sidebar #sidebarRef [(visible)]="isOpen" [style]="{width:'278PX'}" position="right">
    <ng-template pTemplate="headless">
        <div class="sideBarColor">
            <div (click)="close($event)">
                <span>
                    <i class="pi pi-times"></i>
                </span>
            </div>
            <div>
                <h1>Welcome</h1>
                <h2>Isabella Andolini</h2>
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem minima, perspiciatis dolores
                    blanditiis ullam eveniet alias enim expedita dolor veniam fugiat deleniti, rem nulla accusantium,
                    doloribus incidunt natus commodi voluptatum.</div>
            </div>
        </div>
    </ng-template>
</p-sidebar>