.e-commerce {
    &>ul {
        display: flex;
        width: 100%;
        gap: 28px;

        &>li {
            flex: 0 0 auto;
            width: calc(25% - 21px);
            padding: 28px;
            background-color: #fff;
            border-radius: 8px;

            &>span {
                font-size: 15.75px;
                font-weight: 600;
                color: var(--font-color);
                line-height: 23px;
            }

            &>div {
                margin-top: 14px;
                display: flex;
                justify-content: space-between;

                &>div:nth-child(1) {
                    &>span {
                        font-size: 31.5px;
                        font-weight: 700;
                        line-height: 44px;
                    }

                    &>div {
                        line-height: 20px;
                        color: #37c568;
                        font-weight: 500;
                    }
                }

                &>div:last-child {
                    width: 83px;
                    height: 33px;
                }
            }
        }
    }

    &>div:nth-of-type(1) {
        margin-bottom: 28px;

        &>ul {
            display: flex;
            padding-top: 28px;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &>li {
                border-radius: 8px;
                flex: 0 0 auto;
                background-color: #fff;
                padding: 28px;
                text-align: center;

                &>div {
                    display: flex;
                    justify-content: space-between;

                    &>span {
                        font-size: 17.5px;
                        line-height: 24.5px;
                        font-weight: 600;
                    }
                }
            }

            &>li:nth-of-type(1) {
                width: calc(75% - 7px);
            }

            &>li:nth-of-type(2) {
                width: calc(25% - 21px);

                &>span {
                    display: block;
                    font-size: 17.5px;
                    line-height: 24.5px;
                    font-weight: 600;
                    margin-bottom: 42px;
                }
            }
        }
    }

    &>div:last-of-type {
        &>ul {
            width: 100%;
            display: flex;
            gap: 28px;

            &>li {
                flex: 0 0 auto;
                background-color: #fff;
                border-radius: 8px;
                padding: 28px;

                &>span {
                    display: block;
                    font-size: 17.5px;
                    line-height: 24.5px;
                    font-weight: 600;
                    margin-bottom: 14px;
                }
            }

            &>li:nth-child(1) {
                width: calc(60% - 16.8px);
                height: fit-content;

                &>div:nth-of-type(1) {
                    margin-bottom: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &>span {
                        display: block;
                        font-size: 17.5px;
                        line-height: 24.5px;
                        font-weight: 600;
                    }

                    &>div {
                        height: 37px;

                        & input {
                            border-radius: 17.5px;
                        }

                        &>label {
                            cursor: pointer;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            margin: 0 14px;
                            text-align: center;
                            line-height: 35px;
                            background-color: var(--hover-color);
                            color: #fff;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }

                }
            }

            &>li:nth-child(2) {
                width: calc(40% - 11.2px);
            }
        }
    }
}

::ng-deep .p-paginator {
    padding: 7px 14px;
}

::ng-deep .recent-sales {
    &>div {
        display: flex;

        &>span {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            width: 20%;
            box-sizing: border-box;
            padding: 10.5px 14px;
            min-height: 64px;
            font-weight: 500;
            color: #334155;
            line-height: 21px;
            border-bottom: solid 2px var(--background-color);
        }

        &>span:nth-last-of-type(2) {
            &>div {
                font-weight: 700;
                line-height: 18.375px;
                font-size: 12.25px;
                padding: 3.5px 7px;
                border-radius: 8px;
            }
        }

        &>span:last-child {
            justify-content: flex-end;

            &>i {
                width: 35px;
                line-height: 35px;
                height: 35px;
                font-size: 14px;
                font-weight: 500;
                color: var(--hover-color);
                border: solid 2px var(--background-color);
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}

.in-stock {
    background-color: #dcfce7;
    color: #15803d;
}

.out-of-stock {
    background-color: #fee2e2;
    color: #b91c1c;
}

.low-stock {
    background-color: #ffedd5;
    color: #c2410c;
}

::ng-deep .p-dropdown {
    height: 37px;
    border: solid 1px var(--background-color);

    & span {
        padding: 7px 10.5px;
        line-height: 21px;
    }

    & .drop-down {
        height: 37px;
        padding: 7px 10.5px;
        line-height: 21px;
    }
}

::ng-deep .p-data-view {
    & .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
        color: var(--hover-color)
    }

    &>div {
        padding: 14px;

        &>div {
            display: flex;
            flex-direction: row;

            &>div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &>div {
                    margin-left: 14px;
                    line-height: 24.5px;
                    font-size: 15.75px;
                    font-weight: 600;
                    color: var(--font-color);

                    &>span {
                        display: block;
                        margin-bottom: 3.5px;
                    }

                }
            }
        }
    }
}