<div class="app-menu-bar">
    <div>
        <a class="p-button-toggle" (click)="handlerOpen()"><i class="pi pi pi-bars"></i></a>
        <p>E-Commerce Dashboard</p>
    </div>
    <ul>
        <li>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" [style]="{width: '14px'}"/>
                <input type="text" pInputText placeholder="Search" />
            </p-iconField>
        </li>
        <li class="pi pi-palette"></li>
        <li><p-avatar [style]="{width: '35px', height: '35px'}"
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /></li>
    </ul>
</div>