<div class="blog-list">
    <div>
        <!-- <ng-template pTemplate="header">
            <div class="header">
                <span>
                    Articles
                </span>
                <div>
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                        (onChange)="onSortChange($event)">
                        <ng-template let-sortOptions pTemplate="item" [ngStyle]="{'background-color': 'red'}">
                            <div style="height: 37px; display: flex; align-items: center; padding-left: 14px;">
                                <div>{{ sortOptions.label }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </ng-template> -->
    </div>
    <div>

    </div>
</div>